{% extends "layout.html" %}

{% block contents %}
<h3>ログインしてください</h3>
<div class="form_block">
<form action="/login/try" method="POST"
  class="pure-form pure-form-stacked">
  <label id="user">メールアドレス</label>
  <input type="text" name="user" id="user"
    placeholder="メールアドレス" style="width:400px;">
  <label for="pw">パスワード</label>
  <input type="password" name="pw" id="pw"
    placeholder="パスワード" style="width:400px;">
  <button type="submit" class="pure-button pure-button-primary">
  ログイン</button>
</form>
</div>
{% endblock %}

